<div class="panel-header">
    <span><s5l>create.subjects</s5l></span>
</div>

<div class="thin">
    <form #createForm="ngForm" (ngSubmit)="createNewSubject()">
        <form-field label="create.subjects.label">
            <input type="text" [(ngModel)]="newSubject.label" name="label"
                   required pattern=".*\S+.*" #nameInput="ngModel"
                   (blur)="onSubjectNameBlur(newSubject.label)">
            <form-errors [control]="nameInput"></form-errors>
        </form-field>
        <form-field label="create.subjects.code">
            <input type="text" [(ngModel)]="newSubject.code" name="code"
                   required pattern=".*\S+.*" #nameInput="ngModel"
                   (blur)="onSubjectNameBlur(newSubject.code)">
            <form-errors [control]="nameInput"></form-errors>
        </form-field>

        <div class="action">
            <button type="button" class="cancel" (click)="cancel()">
                <s5l>create.subjects</s5l>
            </button>
            <button class="create confirm"
                    [disabled]="createForm.pristine || createForm.invalid">
                <s5l>create.subjects.submit</s5l>
            </button>
        </div>
    </form>
</div>